<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">net.sf.hibernate.dialect.Oracle9Dialect</property>
		<property name="show_sql">false</property>
        
        <!-- Mapping files -->
        <mapping file="generated/com/ctb/hibernate/persist/AuxItemResponseRecord.hbm.xml"/>
        <mapping file="generated/com/ctb/hibernate/persist/DatapointConditionCodeRecord.hbm.xml"/>
        <mapping file="generated/com/ctb/hibernate/persist/DatapointRecord.hbm.xml"/>
        <mapping file="generated/com/ctb/hibernate/persist/ItemMediaRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemResponseRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemSetAncestorRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemSetCategoryRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemSetItemRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemSetMediaRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemSetParentRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemSetProductRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ItemSetRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/OrgNodeTestCatalogRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ProductRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ScorableItemRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ScoreLookupItemSetRecord.hbm.xml"/>
        <mapping file="generated/com/ctb/hibernate/persist/ScoreLookupRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/TestCatalogRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/TemplateCodeRecord.hbm.xml"/>
		<mapping file="generated/com/ctb/hibernate/persist/ScoreTypeRecord.hbm.xml"/>
        <mapping file="generated/com/ctb/hibernate/persist/ItemSetSampleSetRecord.hbm.xml"/>
		
		<mapping file="generated/com/ctb/hibernate/persist/ConditionCodeRecord.hbm.xml"/>
		
		
    </session-factory>
</hibernate-configuration>
