/*
HTML Tag Classes*/
BODY { font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333; background-color: #000000; }
P, TD { font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333; }

/*
Application-wide Classes*/
.log { color: #ffcc00 ; font-weight: bold ; font-size: 11px; }
.footer { color: #666666; font-size: 10px; font-weight: bold; }
.blackbld { color: #000000; font-weight: bold ;}
.medgraybld { color: #666666; font-weight: bold ;}
.smlight { color: #666666; font-size: 10px; }	
.headerart { color: #336699 ; font-size: 18px; font-weight: bold; }
.headerart2 { color: #336699 ; font-size: 13px; font-weight: bold; }
.headerartblack { color: #000000 ; font-size: 18px; font-weight: bold; }
.header2 { color: #cc9900 ; font-size: 13px; font-weight: bold; }
.headerblk { color: #000000 ; font-size: 14px; font-weight: bold; }
.asterisk {color: #336699; font-weight: bold; font-size: 12px;}
.logged {color: #999966; font-size: 10px; font-weight: bold ;}
.nickname {color: #999966; font-weight: bold ;}
.nicknamelt {color: #cccc99; font-weight: bold ;}
.address {color: #999966; }
.bold { font-weight: bold; }
.italic {font-style: italic ;}

/*
Link Classes*/
a:link { color: #336699 ; font-size: 11px; }
a:visited { color: #006699 ; font-size: 11px; }
a:active { color: #669900 ; font-size: 11px; }
a:hover { color: #669900 ; font-size: 11px; }
a.log:link { color: #ffcc00 ; font-weight: bold ; font-size: 11px; }
a.log:visited { color: #ffcc00 ; font-weight: bold ; font-size: 11px; }
a.log:active { color: #ffff66 ; font-weight: bold ; font-size: 11px; }
a.log:hover { color: #ffff66 ; font-weight: bold ; font-size: 11px; }
a.bold:link { color: #336699 ; font-weight: bold ; font-size: 11px; }
a.bold:visited { color: #003366 ; font-weight: bold ; font-size: 11px; }
a.bold:active { color: #669900 ; font-weight: bold ; font-size: 11px; }
a.bold:hover { color: #669900 ; font-weight: bold ; font-size: 11px; }
a.footer:link { color: #333333 ; font-size: 10px; text-decoration: none; }
a.footer:visited { color: #333333 ; font-size: 10px; text-decoration: none; }
a.footer:active { color: #111111 ; font-size: 10px; text-decoration: underline ; }
a.footer:hover { color: #111111 ; font-size: 10px; text-decoration: underline; }
a.smlight:link { color: #666666 ; font-size: 10px; }
a.smlight:visited { color: #666666 ; font-size: 10px; }
a.smlight:active { color: #333333 ; font-size: 10px; }
a.smlight:hover { color: #333333 ; font-size: 10px; }

/*
Background color classes*/
.bgwhite { background-color: #ffffff ; }
.bgblack { background-color: #000000 ; }
.bgtaupe { background-color: #cccc99 ; }
.bgltgray { background-color: #cccccc; }
.bgdkgray { background-color: #333333 ; }
.bgbar3 { background-color: #999966 ; }  

/*
Contextual menu classes*/
.contextualHeader {
    background: #CCCC99; 
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #333366;
    letter-spacing: 1px;}
.contextualItem {background: #FFFFCC; COLOR: #333366;}
.contextualItem A:link {text-decoration:none; color: #666699;}
.contextualItem A:visited {text-decoration:none; color: #666699;}
.contextualItem A:active {text-decoration:underline; color: #333366;}
.contextualItem A:hover {text-decoration:underline; color: #333366;}

/*
General INFO table classes*/
.wrapperTable{background-color: #999966;}
.infoTableHeader{background-color: #cccc99; color: #666633; font-weight: bold; text-align: right;}
.infoTableHeader2{background-color: #cccc99; color: #666633; font-weight: bold; text-align: center;}
.infoTableHeaderData{background-color: #cccc99; color: #000000; font-weight: bold;}
.infoTableColumn{background-color: #ffffff; color: #999966; font-weight: bold;}
.infoTableLabels{background-color: #ffffff; color: #999966; text-align:right;}
.infoTableLabelsRadio{background-color: #ffffff; text-align: center; vertical-align: middle;}
.infoTableData{background-color: #ffffff; color: #000000;}
.infoTableDataRadio{background-color: #ffffff; font-size: 11px;}
.infoTableDataSearchMatch{background-color: Silver; color: #000000;}

/*
List Table Classes*/
.listTable {background: #FFFFCC; font-size: 11px; font-family: Arial, Helvetica, sans-serif; color: #333366;}
.listTable A:link {font-weight: bold; color: #666699;}
.listTable A:visited {font-weight: bold; color: #666699;}
.listTable A:active {font-weight: bold; color: #333366;}
.listTable A:hover {font-weight: bold; color: #333366;}
.listTableHeader {background-color: #cccc99; color: #666633; font-weight: bold;}
.listTableLabel {background-color: #FFFFFF; color: #999966;}
.listTableLabel A:link{text-decoration:underline; color: #666699; font-weight: bold;}
.listTableLabel A:visited{text-decoration:underline; color: #666699; font-weight: bold;}
.listTableLabel A:active{text-decoration:underline; color: #333366; font-weight: bold;}
.listTableLabel A:hover{text-decoration:underline; color: #333366; font-weight: bold;}
.listTableData {background-color: #ffffcc;}
.invalid {color: #FF0000;}

/* 
FORM element classes*/
.inputText{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333;}
.inputSelect{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333;}
.inputTextArea{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333;}
.radioWhite {background: #ffffff;}
.radioCream {background: #ffffcc;}

.inputText_noborder {
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
    border: 0px;
}

/* 
Node Heirarchy Classes...*/
.hierarchyTableHeader{background-color: #cccc99; color: #666633; font-weight: bold; text-align: left;}
.hierarchyTableHeaderRight{background-color: #cccc99; color: #666633; font-weight: bold; text-align: right;}
.hierarchyTableBold{background-color: #ffffff; color: #666699; font-weight : bold; font-size: 12px;}
.hierarchyTableWhite{background-color: #ffffff; color: #999966;}
.hierarchyTableEDIT{background-color: #ffffcc; color: #666600; font-weight: bold;}

/*
Homepage tables*/
.homeTableHeader{background-color: #cccc99; color: #666633; font-weight: bold;}
.homeTableItem{background-color: #ffffcc;}
.homeTableItem A:link{text-decoration: underline; color: #666699; font-weight: bold;}
.homeTableItem A:visited{text-decoration: underline; color: #666699; font-weight: bold;}
.homeTableItem A:active{text-decoration: underline; color: #333366; font-weight: bold;}
.homeTableItem A:hover{text-decoration: underline; color: #333366; font-weight: bold;}
.homeTableItemLabel{background-color: #ffffcc; font-weight: bold; vertical-align: top;}

/*
Tutorail Hierarchy Rows*/
.tutorialRowTitle{background-color: #CCFFFF; font-weight: bold;}
.tutorialRowItem{background-color: #CCFFFF;}
.tutorialRowItem A:link{text-decoration: underline; color: #666699; font-weight: bold;}
.tutorialRowItem A:visited{text-decoration: underline; color: #666699; font-weight: bold;}
.tutorialRowItem A:active{text-decoration: underline; color: #333366; font-weight: bold;}
.tutorialRowItem A:hover{text-decoration: underline; color: #333366; font-weight: bold;}

/*
Error Classes*/
.errorPage {font-size: 13px; color: #FF0000; font-weight: bold;}
.infoTableError {font-size: 11px; color: #FF0000; background-color: #ffffff}
.nonTableError {font-size: 11px; color: #FF0000;}

/* from R2 stylesheets, used in login page*/
div.note {
    width: 100%; /* workaround for IE5 to show relative pos IMG */
    position: relative;
    margin: 3px 0 0px 12px;
}

div.note img {
    display: block; 
    position: absolute;
    left: -12px;
    top: -3px;
}

div.note p {
    display: block; /* declared as inline in base.css */
    font-size: 9px;
    line-height: 13px;
    padding: 0 4 0 16px;
    color: #666;
    background-color: #ffc;
    border: 1px solid #cc9;
}


