
  .clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
  }
  a {
	text-decoration: none;
  }

  a.tab {
    background-color: #e9e9e9; 
    color: #919191;
    font-weight: bold;
    padding: 5px 20px 5px 20px; 
    margin-top: 0.3em;
    border-bottom: solid 2px #fff;
  }

  a.tab:hover {
    background-color: #d4ecff; 
    color: #0000ff;
  }

  a.tab_selected {
    border-bottom-color: #d4ecff; 
    background-color: #d4ecff; 
    color: #00137f;
  }

  a.tab_selected:hover {
    background-color: #d4ecff; 
    color: #00137f;
    text-decoration: none; 
	outline: none;
	cursor: default;
  }



  #featureTabsContainer {
    display: none;
  }

  #featureElementsContainer {
    background-color: #d4ecff; 
    padding: 10px;
  }

  .feature {
    background-color: #fff;
    padding: 10px;
  }

  