
#accordion {
	list-style: none;
	padding: 0 0 0 0;
	width: 100%;
	overflow: auto;
	height: 300px;
}
#accordion div {
	display: block;
	background-color: ##CCCC99;
	font-weight: bold;
	margin: 1px;
	cursor: pointer;
	padding: 5 5 5 7px;
	list-style: circle;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: auto;
	height: 300px;
}

#accordion a {
	text-decoration: none;
}
#accordion a:hover {
	text-decoration: underline;
}



div.panel,p.flip
{
margin:0px;
padding:5px;
text-align:center;


}
div.panel
{
height:120px;
display:none;
}
