<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Workshop Application</display-name>
    <description/>
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>com.ctb.util.web.filter.NoCacheFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TamperFilter</filter-name>
        <filter-class>com.ctb.util.web.filter.TamperFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TamperFilter</filter-name>
        <url-pattern>/studentOperation/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/studentOperation/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description/>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.beehive.netui.pageflow.PageFlowActionServlet</servlet-class>
        <init-param>
            <description/>
            <param-name>config</param-name>
            <param-value>/_pageflow/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <description/>
            <param-name>config/-global</param-name>
            <param-value>/_pageflow/struts-config--global.xml</param-value>
        </init-param>
        <init-param>
            <description/>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <description/>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <description/>
        <servlet-name>speech</servlet-name>
        <servlet-class>com.ctb.tdc.web.servlet.SpeechServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>speech</servlet-name>
        <url-pattern>/previewer/SpeechServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/x-javascript</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>swf</extension>
        <mime-type>application/x-shockwave-flash</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error401.jsp</location>
    </error-page>
    <jsp-config>
        <taglib>
            <taglib-uri>netui-tags-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/netui-tags-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>netui-tags-databinding.tld</taglib-uri>
            <taglib-location>/WEB-INF/netui-tags-databinding.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>netui-tags-template.tld</taglib-uri>
            <taglib-location>/WEB-INF/netui-tags-template.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>ctb-widgets.tld</taglib-uri>
            <taglib-location>/WEB-INF/ctb-widgets.tld</taglib-location>
        </taglib>
    </jsp-config>
    <security-constraint>
        <display-name/>
        <!-- 
        <web-resource-collection>
            <web-resource-name>StudentManagementWeb</web-resource-name>
            <description>Protect any resources within the following Page Flow.</description>
            <url-pattern>/manageStudent/*</url-pattern>
            <url-pattern>/manageBulkAccommodation/*</url-pattern>
            <url-pattern>/studentOperation/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
         -->
        <web-resource-collection>
            <web-resource-name>StudentWeb</web-resource-name>
            <description>Protect any resources within the following Page Flow.</description>
            <url-pattern>/studentOperation/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>These are the roles who have access the web resources above.</description>
            <role-name>root</role-name>
            <role-name>Account Manager</role-name>
            <role-name>Administrator</role-name>
            <role-name>Administrative Coordinator</role-name>
            <role-name>Coordinator</role-name>
            <role-name>Proctor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>This is how the user data must be transmitted.</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>OAS</realm-name>
        <form-login-config>
            <form-login-page>/../SessionWeb/login.jsp</form-login-page>
            <form-error-page>/../SessionWeb/loginError.do</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>A root user</description>
        <role-name>root</role-name>
    </security-role>
    <security-role>
        <description>An Account Manager</description>
        <role-name>Account Manager</role-name>
    </security-role>
    <security-role>
        <description>An administrator</description>
        <role-name>Administrator</role-name>
    </security-role>
    <security-role>
        <description>An Administrative Coordinator</description>
        <role-name>Administrative Coordinator</role-name>
    </security-role>
    <security-role>
        <description>A Coordinator</description>
        <role-name>Coordinator</role-name>
    </security-role>
    <security-role>
        <description>A Proctor</description>
        <role-name>Proctor</role-name>
    </security-role>
    <filter>
        <filter-name>PageFlowJspFilter</filter-name>
        <filter-class>org.apache.beehive.netui.pageflow.PageFlowJspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <filter-class>org.apache.beehive.netui.pageflow.PageFlowForbiddenFilter</filter-class>
        <init-param>
            <param-name>response-code</param-name>
            <param-value>404</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PageFlowJspFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowJspFilter</filter-name>
        <url-pattern>*.jspx</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.java</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.jsfb</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>*.jpfs</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFlowForbiddenFilter</filter-name>
        <url-pattern>/_pageflow/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>org.apache.beehive.netui.pageflow.PageFlowContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.apache.beehive.netui.pageflow.HttpSessionMutexListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <servlet-class>org.apache.beehive.netui.pageflow.xmlhttprequest.XmlHttpRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.jpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <url-pattern>*.xhr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlHttpRequestServlet</servlet-name>
        <url-pattern>*.render</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>