/* CSS Document */
body {
	font-family: Arial, Helvetica, Sans Serif; 
	font-size:12px; 
	font-weight:normal; 
	color:#000000; 
	padding:0px; 
	margin:0px;
}
 
.bodyContent {
    padding: 0px; 
    width: 100%;
	background-color: #ffffff;
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
	color:#000000; 
    padding: 5px 5px 5px 5px; 
    
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
}

.simpleMenu {
	background-color: #d4ecff;
	width:153px;
	padding: 5px 0px 5px 0px;
}


.feature {
	background-color: #d4ecff; 
	padding: 10px;
    padding-top: 15px;
    z-index:0;
}

#bodySection {
	margin-top: -15px;
}

.roundedHeader {
	background-color: #d4ecff; 
	padding: 5px;
}

.roundedMessage {
	background-color: #fff; 
	padding: 5px;	
}

.roundedPrivacy {
	background-color: #e9e9e9;
	color:#00f;
	text-align: center; 
	font-weight: bold; 
	padding: 5px;
}

.hierarchyTableHeader{
	color: #333333;
	font-weight: normal;
	text-align: left;
}

.hierarchyTableWhite{
	color: #333333; 
	font-family: Arial, Helvetica, Sans Serif; 
	font-size:10px; 
	font-weight: bold;
}


.legacyBodyLayout {
    border-collapse: collapse;
    border-style: none;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#legacyBody {
    background-color: #fff;
    padding: 20px;
    vertical-align: top;
}


h1 { 
    color: #476cb5;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}

h2 { 
    color: #666666;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0px 0px 5px 0px;
}

h3 {
    border-color: #999;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #000;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0px 5px 0px;
    padding-top: 3px;
}

h4 {
	color: #333333;
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
}

p {
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 12px;
    margin: 0px 0px 15px 0px;
}


a { 
	text-decoration: none; 
	outline: none;
	color: #00f;
}

a:hover {
	text-decoration: underline;
}

a.footer { 
	text-decoration: none; 
	outline: none;
	color: #003399;
}

a.footer:hover {
	text-decoration: underline;
}

table.simple {
    padding: 0px; 
}

tr.simple {
}

td.simple {
}


table.simpleBody {
    border-collapse: collapse; 
    border-style: none; 
    padding: 0px; 
    width: 100%;
	color:#003399; 
}

tr.simpleBody {
}

td.simpleBody {
}

table.simpleBlock {
    border-collapse: collapse; 
    border-style: none; 
    padding: 0px; 
	color:#333333; 
}

table.toolbar {
    width: 100%;
	background-color: #d4ecff; 
}

tr.toolbar {
    height: 22px;
    vertical-align: top; 
}
 
td.toolbar {
    text-align: center;
}


td.toolbar-alignleft {
    text-align: left; 
}

td.toolbar a.selected {
	text-decoration: none; 
	outline: none;
	color: #666666;
	cursor: default;
}


table.bodyLayout {
    color: #003399;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-align: left; 
    width: 100%;
}

tr.bodyLayout {
}

table.headerLayout {
    color: #003399; 
    border-style: none; 
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-align: center; 
    width: 100%;
    
}

table.footerLayout {
    background-color: #ffffff; 
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 10px;
    width: 100%;
    border-color: #ffffff; 
    border-style: solid; 
    border-width: 1px; 
	color: #666666;
}

td.footerLayout {
    padding: 4px 6px 4px 6px;
}

.rounded-corners {
	background-color: #d4ecff;
	height: 20px;
    padding: 0px 10px 0px 10px;
	
	border: 1px solid #d7d7d7;

	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	behavior: url(border-radius.htc);
}

#contentText {
    color: gray;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 48px;
}

.padding{ padding-top:15px;	}

	
.shadow{
box-shadow: 1px 1px 1px 1px #818181;
-webkit-box-shadow: 1px 1px 1px 1px #818181;
-moz-box-shadow: 1px 1px 1px 1px #818181;
-khtml-box-shadow: 1px 1px 1px 1px #818181;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=1, offY=1, positive=true);
}


input {
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    border:1px solid rgba(0,0,255, 0.8); 
}


.search_input {
  border: none;
  border-color: #ffffff; 
  border-style: none; 
  border-width: 0px; 
  height: 12px;
  width: 130px;
  vertical-align: top;
}
  
.search_input:focus {
    box-shadow: 0 0 0px rgba(255, 255, 255, 255);
    -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 255); 
    -moz-box-shadow: 0 0 0px rgba(255, 255, 255, 255);
    border:0px none rgba(255,255,255, 255); 
}

.search_image {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.search_input_box {
  background:  url(search_sm.png) no-repeat left top;
  padding: 3px 0px 0px 10px;
  --height: 19px;
  --width: 168px;
  height: 19px;
  width: 170px;
}



.treeHeader {
	background-color: #5cadcc; 
	color: #ffffff; 
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
	font-size: 1.0em;
	font-style: normal;  
	font-weight: bold; 
	vertical-align:middle;
	padding: 5px 5px 5px 5px;
}

.treeBody {
	font-family: Arial, Helvetica, Sans Serif; 
	font-size: 12px;  
	font-style: normal;  
	font-weight: normal; 	
	background-color: #ffffff; 
    width: 250px; 
    height: 270px; 
    border-color: #c5dbec; 
    border-style: solid; 
    border-width: 1px; 
	padding: 0px;    
}
/*
#orgNodeHierarchy ul {
	float: left;
	clear: both;
}

#orgNodeHierarchy li {
	clear: both;
}	

#innerID ul {
	float: left;
	clear: both;
}

#innerID li {
	clear: both;
}	
*/

#treebackgrounddiv {
	float:left;
}
/*
#studentBulkOrgNode ul {
	float: left;
	clear: both;
}

#studentBulkOrgNode li {
	clear: both;
}
*/

/*
#bulkStudentMoveOrgNode ul {
	float: left;
	clear: both;
}

#bulkStudentMoveOrgNode li {
	clear: both;
}
*/

.gridTable {
	font-family: Arial, Verdana, Sans Serif; 
	font-size: 13px;  
	font-style: normal;  
	font-weight: normal; 	
	
}

.treeCtrl {
	/*visibility: hidden;*/
	border: 1px solid #A6C9E2;
	overflow:auto; 
	height: 487px;  
	width: 200px;
	font-family: Arial, Verdana, Sans Serif; 
	font-size: 13px;  
	font-style: normal;  
	font-weight: normal; 	
	padding:0px ! important;
}

.innertreeCtrl {
	overflow:auto; 
	height: 235px;  
	width: 350px; 
	font-family: Arial, Verdana, Sans Serif; 
	font-size: 13px; 
	font-style: normal; 
	font-weight: normal; 
	position: absolute;
}

.treeCtrlHeader {
	visibility: hidden;
	padding: 3px 0px 3px 3px;
	border: 1px solid #A6C9E2;
	font-family: Arial, Verdana, Sans Serif; 
	font-size: 13px;  
	font-style: normal;  
	font-weight: bold; 
	width: 197px; 	
}

.gridTableHeader {
	visibility: hidden;
	padding:0px;
	border: 1px solid #A6C9E2;
	font-family: Arial, Verdana, Sans Serif; 
	font-size: 13px;  
	font-style: normal;  
	font-weight: bold; 	
}



.ie8 #orgNodeHierarchy ul {
float: none;
clear: both;
}

.ie8 #orgNodeHierarchy li {
	clear: both;
}	

.ie8 #innerID ul {
float: none;
clear: both;
}

.ie8 #innerID li {
	clear: both;
}



.ie8 #studentBulkOrgNode ul {
float: none;
clear: both;
}

.ie8 #studentBulkOrgNode li {
	clear: both;
}



.ie8 #bulkStudentMoveOrgNode ul {
float: none;
clear: both;
}

.ie8 #bulkStudentMoveOrgNode li {
	clear: both;
}

.ie8 #outOfSchoolOrgNode ul {
float: none;
clear: both;
}

.ie8 #outOfSchoolOrgNode li {
	clear: both;
}

.feature div {
	margin-left:0px !important;
}

.gridPos{
	
	position:relative;
	z-index:100;
}

.subtitle{
	font-family: Arial, Verdana, Sans Serif;
	font-size: 12px;
	font-style: normal;
	padding-left: 2px;
	color:#003399;
}

.buttonsRow{
	padding-bottom:1px; 
	min-height: 25px; 
	height: 25px;
}

.errMsgs{
	 text-align: left; 
	 font-family: Arial, Verdana, Sans Serif; 
	 font-size: 12px; 
	 align: left;	 
	 color:#000;
	 padding-top: 2px;
	 font-weight: bold;
}

.saveMsgs{
	text-align: left; 
	 background-color: #FFFFFF; 
	 font-family: Arial, Verdana, Sans Serif; 
	 font-size: 12px; 
	 font-style: normal; 
	 font-weight: bold;
	 align: left;
	 padding-left: 2px;
	 color:#000;
}

input[type="button"] {
	cursor: pointer;
}

th.ui-th-column div{
        white-space:normal !important;
        height:auto !important;
}

.searchInputBoxContainer {
	padding:20px 0px;
}

.tableHeader{
	background: url(../images/tableHeader3.png);
    color: #FFF;
    font-family: Arial, Verdana, Sans Serif; 
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    height: 23px; 
}

.profileBullet{
	width:5px;
	vertical-align: top;
	color: #000;
    font-family: Arial, Helvetica, Sans Serif;
}

.profileTransparent {
    border-style: none;
    color: #000;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding: 2px;
    vertical-align: top;
}
.statusLegendTable {
	background-color: #FFFFCC;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	font-family: Arial,Helvetica,Sans Serif;
	font-size: 12px;
	font-weight: normal;
}

.statusLegendDiv {
	position: absolute;
	z-index: 1100;
}
.statusLegendTable td {
	padding: 0px 10px 2px 5px;
}