* { margin: 0; padding: 0; }
ul { list-style: none outside; }
a img { border: none; }

 
 #service-menu {
	background: #d4ecff; 
	min-height: 25px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;

	}
	#service-menu ul {
		display: block;
		}
	#service-menu ul.submenu {
		display: block;
		margin-top: -4px;
	    background-color: #d4ecff; 
	}

		#service-menu ul li {
			height: 18px;
			padding: 0px 5px 0px 5px;
			position: relative;
			float: left;
			margin-right: 5px;
			margin-top: -1px;
		}
			#service-menu ul li:hover {
			}
			#service-menu ul li ul li:hover {
    			text-decoration: underline;
			}
			#service-menu ul li a {
				display: block;
				float: left;
				height: 23px;
				position: relative;
				top: -5px;
				right: -10px;
				padding-right: 3px;
				color: #383838;
				font-weight: bold;
				font-size: 11px;
				text-decoration: none;
			}
			#service-menu ul li a:hover {
			}
			#service-menu ul li a span {
				position: relative;
				top: 6px;
			}
			#service-menu ul li ul {
				display: none;
				position: absolute;
				top: 29px;
				left: 0px;
				width: 140px;
				border: 1px solid #ccc;
				background: white;
				padding: 10px 0 0 0;
				}
				#service-menu ul li ul li {
					float: none;
					padding: 0; margin: 0;
					height: 100%;
				}
				#service-menu ul li ul li:hover {
					background: none;
					}
					#service-menu ul li ul li a {
						display: block;
						float: none;
						margin-left: -5px;
						padding: 5px 0 0 5px;
						width: 120px;
					}
					#service-menu ul li ul li a:hover {
						/* background: #d9f0b7; */
					}
 		
 		