/* CSS Document */
body {
	font-family: Arial, Helvetica, Sans Serif; 
	font-size:12px; 
	font-weight:normal; 
	text-decoration:none; 
	color:#000000; 
	padding:0px; 
	margin:0px;
}

.bodyContent {
    padding: 0px; 
    width: 100%;
	background-color: #ffffff;
    border-style: solid; 
    border-width: 1px; 
    border-color: #996; 
	color:#000000; 
    padding: 5px 5px 5px 5px; 
    
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
}

.hierarchyTableHeader{color: #999966; font-weight: bold; text-align: left;}
.hierarchyTableWhite{color: #999966; font-family: Arial, Helvetica, Sans Serif; font-size:10px; font-weight: bold;}

h1 { 
    color: #369;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}

h2 { 
    color: #663;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0px 0px 5px 0px;
}


h3 {
    border-color: #999;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #000;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0px 5px 0px;
    padding-top: 3px;
}

h4 {
    color: #000;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 12px;
    margin: 0px 0px 5px 0px;
}

p {
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 12px;
    margin: 0px 0px 15px 0px;
}


a { 
	text-decoration: underline; 
	outline: none;
	color: #00f;
	}
	a:hover {
		text-decoration: underline;
	}



table.simpleBody {
    border-collapse: collapse; 
    border-style: none; 
    padding: 0px; 
    width: 100%;
	color:#000000; 
}

table.simpleBlock {
    border-collapse: collapse; 
    border-style: none; 
    padding: 0px; 
	color:#000000; 
}

td.simpleBlock {
    border-collapse: collapse;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #996; 
    
}

table.toolbar {
    width: 100%;
	background-color: #DEECF6;
}

tr.toolbar {
    height: 22px;
    vertical-align: top; 
}
 
td.toolbar {
    text-align: center;
	/*
    border-collapse: collapse;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #996; 
    */
}


td.toolbar-alignleft {
    text-align: left; 
}

td.toolbar a {
	text-decoration: none; 
	outline: none;
	color: blue;
}

td.toolbar a:hover {
	text-decoration: underline;
}

td.toolbar a.selected {
	text-decoration: none; 
	outline: none;
	color: grey;
	cursor: default;
}

td.toolbar a.normal {
	text-decoration: none; 
	outline: none;
	color: blue;
}

td.toolbar.selected a:hover {
	text-decoration: none;
}


table.bodyLayout {
    border-color: #996; 
    border-style: solid; 
    border-width: 1px; 
    color: blue;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-align: left; 
    width: 100%;
}

tr.bodyLayout {
}

table.headerLayout {
    color: #000000; 
    border-style: none; 
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-align: center; 
    width: 100%;
    padding: 3px 0px 0px 3px;
}

table.footerLayout {
    background-color: #DEECF6;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 10px;
    width: 100%;
    border-color: #ffffff; 
    border-style: solid; 
    border-width: 1px; 
	color: #666666;
}

td.footerLayout {
    padding: 4px 6px 4px 6px;
}

.rounded-corners {
	background-color: #DEECF6;
	height: 20px;
    padding: 0px 10px 0px 10px;
	
	border: 1px solid #d7d7d7;

	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	behavior: url(border-radius.htc);
}

#contentText {
    color: gray;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 48px;
}

#footer {
    background-color: #DEECF6;
    color: #666666;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 12px;
    padding: 5px;
}

.padding{ padding-top:15px;	}

	
.shadow{
box-shadow: 1px 1px 1px 1px #818181;
-webkit-box-shadow: 1px 1px 1px 1px #818181;
-moz-box-shadow: 1px 1px 1px 1px #818181;
-khtml-box-shadow: 1px 1px 1px 1px #818181;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=1, offY=1, positive=true);
}

table.grouping {
    border-collapse: collapse; 
    border-color: #996; 
    border-style: solid; 
    border-width: 1px; 
}

tr.grouping {
}

th.grouping {
    background-color: #ffff99; 
    border-color: #996; 
    border-style: solid; 
    border-width: 1px; 
    color: blue;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    padding: 5px; 
    text-align: left; 
}

td.grouping {
    background-color: #fff; 
    border-color: #996; 
    border-style: solid; 
    border-width: 1px; 
    color: #000;
    font-family: Arial, Helvetica, Sans Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding: 5px; 
    text-align: left; 
}

input {
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    border:1px solid rgba(0,0,255, 0.8); 
}

