a{
	cursor: pointer;
	text-decoration:none;
}
	
br.both{
	clear:both;
}

#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
#popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:460px;
	width:780px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-family: Arial, Helvetica, Sans Serif;
	font-size: 12px;
	font-weight: normal;
}
#popupContact h1{
	text-align:center;
	color:#ffffff;
	background:#3399ff;
	font-size:22px;
	font-weight: bold;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:0px;
	margin-bottom:20px;
}
#popupContactClose{
	font-size:22px;
	line-height:14px;
	right:6px;
	top:6px;
	position:absolute;
	color:#ff9966;
	font-weight:700;
	display:block;
}
#icon{
	font-size:22px;
	line-height:14px;
	left:6px;
	top:6px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
}
#oasheader{
	font-size:20px;
	line-height:24px;
	right:25px;
	left:35px;
	top:6px;
	position:absolute;
	color:#ffffff;
	background:#3399ff;
	font-weight:700;
	text-align:center;
	display:block;
}
#button{
	text-align:center;
	margin:100px;
}

