<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="show_sql">true</property>
		
		 <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@10.202.32.27:1521:OASR5T1</property>
        <property name="hibernate.connection.username">oas</property>
        <property name="connection.password">oaspr5r</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.jdbc.batch_size">2000</property>
        <!-- Mapping files -->
		<mapping file="src/com/ctb/dto/Student.hbm.xml"/>
		<mapping file="src/com/ctb/dto/Student_Contact.hbm.xml"/>
		<mapping file="src/com/ctb/dto/StudentDemographic.hbm.xml"/>
		<mapping file="src/com/ctb/dto/CustomerDemographic.hbm.xml"/>
		<mapping file="src/com/ctb/dto/CustomerDemographicValue.hbm.xml"/>
		<mapping file="src/com/ctb/dto/TestRoster.hbm.xml"/>
		<mapping file="src/com/ctb/dto/StudentItemSetStatus.hbm.xml"/>
		
				
    </session-factory>
</hibernate-configuration>
