div.suggestions {
    border-color: #3366cc;
    border-style: solid;
    border-width: 1px;
    position: absolute;   
}

div.suggestions div {
    cursor: default;
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    font-family: Arial, Verdana, Sans Serif;
    font-size: 12px;
    font-style: normal;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}