table.layout 
{ 
    border-collapse: collapse; 
    width: 100%;
}

tr.layout               
{ 
    background-color: #D4ECFF; 
    vertical-align: top; 
}

tr.layout td            
{ 
    padding: 10px;
}

tr.layoutButtom               
{ 
    background-color: #D4ECFF; 
    vertical-align: top; 
}

tr.layoutButtom td            
{ 
    padding: 0px 5px 5px 0px; 
}


table.columnLayout            
{ 
    border-collapse: collapse; 
    width: 100%;
    height: 204px; 
}

tr.columnLayoutRow               
{ 
    background-color: #fff; 
    vertical-align: top; 
}

tr.columnLayoutRow td            { 
    color: #000; 
    cursor: default; 
    font-family: Arial, Verdana, Sans Serif;
    font-size: 12px;
    font-style: normal;
    padding: 0px; 
}

table.columnButtonLayout            
{ 
    border-collapse: collapse; 
    width: 100%;
    height: 204px;
}

tr.columnButtonLayout               
{ 
    background-color: #D4ECFF; 
    vertical-align: middle; 
}

tr.columnButtonLayout td            { 
    padding: 2px; 
    text-align: center; 
}


tr.columnLayoutRow th      { 
    background-color: #ffc; 
    border-color: #D4ECFF; 
    border-style: solid; 
    border-width: 1px; 
    color: #000;
    font-family: Arial, Verdana, Sans Serif;
    font-size: 11px;
    font-style: normal;
    text-align: left; 
    height: 25px;
    padding: 0px; 
}



table.dynamic            
{ 
    border-collapse: collapse; 
    width: 100%;
}

table.dynamicHeader            
{ 
    border-collapse: collapse; 
    width: 100%;
}

tr.dynamic 
{ 
   	background: url("images/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom #FCFDFD;
}

tr.dynamic td            
{ 
    vertical-align: middle; 
    font-family: Arial, Verdana, Sans Serif;
    font-size: 12px;
    font-style: normal;
    padding: 2px 5px;
    line-height: 20px;
    border: 1px solid #A6C9E2;
    border-top:0px;
}
tr.dynamic td:first-child {
	border: 1px solid #A6C9E2;
} 
 

tr.dynamicHeader 
{
    border-style: solid; 
    border-width: 1px; 
    height: 23px;
}        

tr.dynamicHeader th      
{ 
    background-color: #ffc; 
    border-color: #D4ECFF; 
    border-style: solid; 
    border-width: 1px; 
    color: #FFFFFF;
    vertical-align: middle; 
    font-family: Arial, Verdana, Sans Serif;
    font-size: 11px;
    font-style: normal;
    text-align: left; 
    height: 23px;
    padding: 2px 5px; 
}

tr.dynamicHilight        { 
    background: url("images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x scroll 50% 50% #D0E5F5;
}

tr.dynamicHilight td     { 
   vertical-align: middle; 
   font-family: Arial, Verdana, Sans Serif;
   font-size: 12px;
   padding: 2px 5px; 
   line-height: 20px;   
   border: 1px solid #79B7E7;
   border-top: 0px;
}

tr.dynamicHilight td:first-child {
  border: 1px solid #79B7E7; 
}

tr.dynamicChosen         { 
    background-image: url(images/ui-bg_flat_55_fbec88_40x100.png) ;
    border-style: solid; 
    border-width: 1px; 
    border-color: #FAD42E;
}

tr.dynamicChosen td      {
    vertical-align: middle; 
    font-family: Arial, Verdana, Sans Serif;
    font-size: 12px;
    font-style: normal;
    padding: 2px 5px ; 
    line-height: 20px;
    border: 1px solid #FAD42E;
    border-top: 0px;
}

tr.dynamicChosen td:first-child {
	border: 1px solid #FAD42E;
}
 
