.h1 { 
    color: #369;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}

.h2 { 
    color: #369;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0px 5px 0px;
}

.small { 
    color: #369;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0px 5px 0px;
}

