<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
  <filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.ctb.util.web.filter.NoCacheFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.ctb.tdc.web.filter.SecurityFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>com.ctb.tms.web.listener.TestDeliveryContextListener</listener-class>
  </listener>
  
  <servlet>
    <description>HealthServlet</description>
    <display-name>HealthServlet</display-name>
    <servlet-name>HealthServlet</servlet-name>
    <servlet-class>com.ctb.tms.web.servlet.HealthServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>TMSServlet</description>
    <display-name>TMSServlet</display-name>
    <servlet-name>TMSServlet</servlet-name>
    <servlet-class>com.ctb.tms.web.servlet.TMSServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HealthServlet</servlet-name>
    <url-pattern>/TestDeliveryWeb/status/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>TMSServlet</servlet-name>
    <url-pattern>/TestDeliveryWeb/CTB/*</url-pattern>
  </servlet-mapping>
     
 <resource-ref>
 	<description>OAS Datasource</description>
 	<res-ref-name>jdbc/OASDataSource</res-ref-name>
 	<res-type>javax.sql.DataSource</res-type>
 	<res-auth>Container</res-auth>
 </resource-ref>
 
 <resource-ref>
 	<description>ADS Datasource</description>
 	<res-ref-name>jdbc/ADSDataSource</res-ref-name>
 	<res-type>javax.sql.DataSource</res-type>
 	<res-auth>Container</res-auth>
 </resource-ref>

 
  

</web-app>
